/*
 * Combined style sheet for the index pages and the slide pages, with only classes that are different for this style
 */

body {
	color: #222222;
	background-color: #f4f4f4;
	scrollbar-color: light;
}
body::-webkit-scrollbar {
	width: .8rem;
}
body::-webkit-scrollbar-track {
	background-color: rgba(0,0,0,.2);
}
body::-webkit-scrollbar-thumb {
	border: 1px solid rgba(0,0,0,.25);
	background-color: rgba(255,255,255,.6);
}
a {
	color: #000000;
}
a:hover {
	color: red;
}
#thumbnails > div {
	border: 0px solid #222222;
}

.non-responsive #slideimage img {
	border: 0px solid #222222;
}
#thumbnav img {
	border: 0px solid #222222;
}
#thumbcurrent::after {
	border-bottom-color: #222222;
}
#slide-page.responsive > header,
#slide-page.responsive > footer {
	background-color: rgba(255,255,255,.5);
}
#slide-page.responsive > header:hover,
#slide-page.responsive > footer:hover {
	background-color: rgba(255,255,255,.85);
}
